@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        We develop website in .Net technologies. Key features in our websites include
    </p>

    <p>
        <li>Reponsiveness </li>
        <li>Good design</li>
        <li>Flexibility</li>

    </p>

    <p>
        
    </p>
</article>

<aside>
    <h3>Games</h3>
    <p>
        
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>